//navBtn.jsx

.navBtn {
  display: inline-block;
  border: solid #fff 1px;
  border-radius: 10px;
  padding: 7px 14px;
  box-shadow: 4px 4px #fff;
  color: #fff;

  &:active {
    box-shadow: 1px 1px #ffffffc7;
    transform: translateX(3px) translateY(3px);
  }
}

.darkLight {
  background-image: url(icons/icons8-sun.svg);
}

// homeBg.jsx

.dot {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 40px;

  &-flow {
    display: flex;
  }

  &-dot {
    width: 50px;
    height: 50px;

    font-size: 60px;
    text-align: center;

    cursor: default;
    opacity: 0.25;
  }
}

// homeLearn.jsx

.learn-link {
  width: 300px;
  border-radius: 15px;
  outline: 1px solid #fff;
  background-color: #171717;

  box-shadow: 4px 4px #fff;

  position: relative;

  &:hover {
    box-shadow: 1px 1px #ffffffc7;
    transform: translateX(3px) translateY(3px);
  }

  &-img {
    object-fit: cover;
    height: 80px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
  }

  &-bottom {
    padding: 7px 16px;
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
  }

  &-text {
    margin-top: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
  }
}

// actives.jsx
.actives {
  display: flex;
  align-items: start;
  gap: 15px;
  padding: 7px 14px ;
  border: 1px solid #fff;
  border-radius: 15px;

  &:hover {
    box-shadow: -4px -4px #fff;
    transform: translateX(3px) translateY(3px);
  }

  &-img {
    margin: 10px 0;
    border-radius: 50px;
    width: 60px;
    height: 60px;
  }

  &-name{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }

  &-bio{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
}
