@import "../../colors";

.reaction {
  border: none;
  height: 30px;
  border: 1px solid $bg-white;
  padding: 2px 10px;

  position: relative;
  overflow: hidden;

  cursor: pointer;
  i {
    position: absolute;
    // transition:none;
    top: 14px;
  }

  &:hover {
    transform: translate(0px, -3px);
    box-shadow: 0px 3px $border-white;
  }
}

.up {
  i {
    width: 13px;
  }

  border-radius: 15px 0 0 15px;
}
.down {
  width: 36px;
  border-radius: 0 15px 15px 0;
}

.hoverButton {
  border-radius: 12px;
  outline: none;
  border: 1px solid $border-white;
  background-color: $bg-black;
  font-size: 18px;

  &:hover {
    transform: translate(3px, -3px);
    box-shadow: -3px 3px $border-white;
  }
}

.post {
  overflow: hidden;
  height: 200px;
  &-left {
    padding: 12px 0 12px 16px;
    width: 560px;
  }
  &-right-img {
    width: 350px;
    object-fit: cover;
  }
  &-author {
    gap: 7px;
    margin-bottom: 12px;
    &-img {
      width: 30px;
      height: 30px;
      border-radius: 30px;
    }
    &-name {
      font-size: 14px;
      font-weight: 500;
    }
  }
  &-text {
    &-title {
      font-size: 20px;
      font-weight: 600;
    }
    &-text {
      margin-top: 4px;
      font-size: 12px;
      font-weight: 300;
    }
  }
  &-lock {
    width: 150px;
    gap: 7px;
    &-text {
      font-size: 14px;
      font-weight: 400;
    }
  }
  &-reaction{
    margin-left: 20px;
  }
}
