@import "../../colors";

.home {
  &-navbar {
    border-bottom: 1px solid #fff;
    background-color: #1c1c1c;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
    }

    &-button {
      padding: 5px 15px;
      border-radius: 12px;
      outline: none;
      border: 1px solid $border-white;
      background-color: $bg-black;
      font-size: 18px;

      &:hover {
        transform: translate(3px, -3px);
        box-shadow: -3px 3px $border-white
      }
    }
  }
}
