.create {
  min-height: 100vh;

  &-title {
    width: 100%;
    display: block;

    padding: 15px 0;
    margin-top: 30px;
    margin-bottom: 10px;
    
    background: transparent;
    border: none;
    
    font-size: 36px;
    font-weight: 600;

    overflow: hidden;
    resize: both;
    // min-height: 40px;
    // line-height: 20px;
  }
}
